name: CI
on: [push, pull_request]

jobs:
  EDHOC-Rust-Client:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup EDHOC-Rust
        run: |
          curl --proto '=https' --tlsv1.3 https://sh.rustup.rs -sSf | sh -s -- -y
          source "${HOME}/.cargo/env"
          ./scripts/setup_sul.sh edhoc-rs

      - name: Test EDHOC-Rust Client
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/edhoc-rs/client -roundLimit 3
          ./scripts/diff_hyps.sh experiments/saved_results/clients/edhoc-rs experiments/results/clients/edhoc-rs 3

  EDHOC-Rust-Server:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup EDHOC-Rust
        run: |
          curl --proto '=https' --tlsv1.3 https://sh.rustup.rs -sSf | sh -s -- -y
          source "${HOME}/.cargo/env"
          ./scripts/setup_sul.sh edhoc-rs

      - name: Test EDHOC-Rust Server
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/edhoc-rs/server -roundLimit 4
          ./scripts/diff_hyps.sh experiments/saved_results/servers/edhoc-rs experiments/results/servers/edhoc-rs 4

  RISE-Client:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup RISE
        run: ./scripts/setup_sul.sh rise

      - name: Test RISE Client (m4_app)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/rise/client_m4_app -roundLimit 4
          ./scripts/diff_hyps.sh experiments/saved_results/clients/rise_m4_app experiments/results/clients/rise_m4_app 4

  RISE-Server:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup RISE
        run: ./scripts/setup_sul.sh rise

      - name: Test RISE Server (m4_app)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/rise/server_m4_app -roundLimit 5
          ./scripts/diff_hyps.sh experiments/saved_results/servers/rise_m4_app experiments/results/servers/rise_m4_app 5

  SIFIS-HOME-Client:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup SIFIS-HOME
        run: ./scripts/setup_sul.sh sifis-home

      - name: Test SIFIS-HOME Client (phase_1)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/sifis-home/client_phase_1 -roundLimit 4
          ./scripts/diff_hyps.sh experiments/saved_results/clients/sifis-home_phase_1 experiments/results/clients/sifis-home_phase_1 4

  SIFIS-HOME-Server:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup SIFIS-HOME
        run: ./scripts/setup_sul.sh sifis-home

      - name: Test SIFIS-HOME Server (phase_1)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/sifis-home/server_phase_1 -roundLimit 5
          ./scripts/diff_hyps.sh experiments/saved_results/servers/sifis-home_phase_1 experiments/results/servers/sifis-home_phase_1 5

  uOSCORE-uEDHOC-Client:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup uOSCORE-uEDHOC
        run: ./scripts/setup_sul.sh uoscore-uedhoc

      - name: Test uOSCORE-uEDHOC Client (linux_edhoc_oscore)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/uoscore-uedhoc/client_linux_edhoc_oscore -roundLimit 3
          ./scripts/diff_hyps.sh experiments/saved_results/clients/uoscore-uedhoc_linux_edhoc_oscore experiments/results/clients/uoscore-uedhoc_linux_edhoc_oscore 3

  uOSCORE-uEDHOC-Server:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v1
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup uOSCORE-uEDHOC
        run: ./scripts/setup_sul.sh uoscore-uedhoc

      - name: Test uOSCORE-uEDHOC Server (linux_edhoc_oscore)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/uoscore-uedhoc/server_linux_edhoc_oscore -roundLimit 2
          ./scripts/diff_hyps.sh experiments/saved_results/servers/uoscore-uedhoc_linux_edhoc_oscore experiments/results/servers/uoscore-uedhoc_linux_edhoc_oscore 2
