name: codespell
on: [push, pull_request]
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@master
        with:
          ignore_words_list: errorprone,keypair,keypairs
          skip: '*.patch,*.pdf'
