name: CONCRETIZATION
on: pull_request

jobs:
  uOSCORE-uEDHOC-Client:
    if: ${{ !contains(github.event.head_commit.message, 'concretization skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v2
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup uOSCORE-uEDHOC
        run: ./scripts/setup_sul.sh uoscore-uedhoc

      - name: Test uOSCORE-uEDHOC Client (linux_edhoc_oscore)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/uoscore-uedhoc/client_linux_edhoc_oscore -test experiments/tests/clients/m1_m1 -concretizeDir seeds
          [[ "$(cat seeds/send.length)" == "1" ]]
          test -e seeds/send.replay
          test -e seeds/send.raw
          [[ "$(cat seeds/recv.length)" == "1" ]]
          test -e seeds/recv.replay
          test -e seeds/recv.raw

  uOSCORE-uEDHOC-Server:
    if: ${{ !contains(github.event.head_commit.message, 'concretization skip') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ts-graphviz/setup-graphviz@v2
      - name: Install pydot
        run: pip3 install pydot

      - name: Setup EDHOC-Fuzzer
        run: ./scripts/setup_fuzzer.sh -l

      - name: Setup uOSCORE-uEDHOC
        run: ./scripts/setup_sul.sh uoscore-uedhoc

      - name: Test uOSCORE-uEDHOC Server (linux_edhoc_oscore)
        run: |
          java -jar edhoc-fuzzer.jar @experiments/args/uoscore-uedhoc/server_linux_edhoc_oscore -test experiments/tests/servers/m1_m1 -concretizeDir seeds
          [[ "$(cat seeds/send.length)" == "2" ]]
          test -e seeds/send.replay
          test -e seeds/send.raw
          [[ "$(cat seeds/recv.length)" == "1" ]]
          test -e seeds/recv.replay
          test -e seeds/recv.raw
